@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2");
  src: url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans Bold";
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  src: url("../fonts/ptsansbold.woff") format("woff");
}
body {
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-style: normal;
  background-color: #ffffff;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  font-family: "PT Sans Bold", "Arial", sans-serif;
}
h2 {
  font-size: 18px;
  line-height: 15px;
  text-transform: uppercase;
  font-family: "PT Sans Bold", "Arial", sans-serif;
}
h3 {
  font-size: 14px;
  line-height: 0;
  text-transform: uppercase;
  font-family: "PT Sans Bold", "Arial", sans-serif;
}
a {
  text-decoration: none;
}
input,
textarea {
  outline: none;
}
.button {
  margin-top: 20px;
  background-color: #81b3d2;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  padding-bottom: 16px;
  padding-top: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  word-wrap: break-word;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  border: 0;
}
.button--emotions {
  width: 88%;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.page-header {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  position: relative;
}
.page-header__logo {
  position: relative;
  text-align: center;
  margin-top: 55px;
  background-color: #000000;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: center;
  background-size: auto;
  width: 100%;
}
.page-header__logo--small {
  background-position: 50% 100%;
}
.page-header__triangle {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  bottom: -7.8px;
  left: 0;
  right: 0;
}
.page-header__intro {
  text-transform: uppercase;
  text-align: center;
  width: 88%;
  max-width: 365px;
  margin: 0 auto;
  background: #ffffff;
  width: 85%;
  padding-top: 45px;
}
.page-header__intro--forms {
  width: 90%;
  margin-bottom: 15px;
  padding-top: 0px;
}
.page-header__intro--gallery {
  width: 90%;
  margin-bottom: 15px;
  padding-top: 0px;
}
.page-header__title {
  margin: 0 auto;
  margin-bottom: 30px;
}
.page-header__title--forms,
.page-header__title--gallery {
  padding-top: 40px;
}
.page-header__img {
  position: absolute;
  top: -55px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 110px;
  margin: 0 auto;
}
.page-header__sedona {
  padding-top: 90px;
  width: 88%;
  max-width: 365px;
  margin: 0 auto;
  padding-bottom: 75px;
}
.page-header__sedona--small {
  width: 70%;
  padding-top: 50px;
  padding-bottom: 60px;
}
.page-header__svg {
  width: 320px;
}
.main-nav {
  position: relative;
  width: auto;
  background-color: #ffffff;
  color: #ffffff;
  min-height: 50px;
}
.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 6%;
  z-index: 2;
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 0;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}
.main-nav__items {
  margin: 0;
  padding: 0;
}
.main-nav__item a {
  display: block;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #678fa8;
  border-bottom: 1px solid #678fa8;
  width: 100%;
  font-size: 18px;
}
.main-nav__item a:hover {
  background-color: #669ec0;
}
.main-nav__item a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.main-nav--closed {
  min-height: 0;
  top: -55px;
  background-color: #ffffff;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 2px;
  background-color: #81b3d2;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
}
.main-nav--opened .main-nav__toggle {
  top: 27px;
  right: 6%;
  background-color: rgba(255, 255, 255, 0);
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  box-shadow: none;
}
.page-main {
  background-color: #ffffff;
  color: #000000;
}
.page-main__form {
  position: relative;
}
.conditions__header {
  background-color: #81b3d2;
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 20px;
  text-transform: uppercase;
  position: relative;
}
.conditions__group {
  padding-top: 18px;
  width: 88%;
  max-width: 365px;
  margin: 0 auto;
}
.conditions__img {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #81b3d2;
}
.conditions__img img {
  display: block;
  margin: 0 auto;
}
.conditions__item {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding-left: 50px;
}
.conditions__item::before {
  position: absolute;
  content: "";
  width: 37px;
  height: 37px;
  top: 0;
  left: 0;
}
.conditions__item--house::before {
  background: url("../img/icon-house.svg");
  background-size: cover;
}
.conditions__item--gift::before {
  background: url("../img/icon-gift.svg");
  background-size: cover;
  height: 38px;
  width: 32px;
}
.conditions__item--burger::before {
  background: url("../img/icon-burger.svg");
  background-size: cover;
  width: 38px;
  height: 35px;
  top: 10px;
}
.conditions__triangle {
  position: absolute;
  top: -5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
}
.landmark {
  padding-top: 23px;
}
.landmark__header {
  background-color: #81b3d2;
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding-top: 28px;
  padding-bottom: 18px;
  text-transform: uppercase;
}
.landmark__intro {
  width: 88%;
  max-width: 365px;
  margin: 0 auto;
}
.landmark__img {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #81b3d2;
}
.landmark__img img {
  display: block;
  margin: 0 auto;
}
.landmark__group {
  background-color: #eeeeee;
  width: 100%;
}
.landmark__item {
  width: 88%;
  max-width: 365px;
  margin: 0 auto;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: 2px solid #d6d6d6;
}
.landmark__item:last-child {
  border-bottom: 0;
}
.landmark__item p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.hotel {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  padding-top: 16px;
  text-transform: uppercase;
}
.hotel__intro {
  width: 88%;
  max-width: 365px;
  margin: 0 auto;
  margin-bottom: 46px;
}
.hotel__title {
  font-size: 21px;
  padding-bottom: 7px;
}
.map {
  position: relative;
}
.map__marker {
  position: absolute;
  top: 45%;
  left: 45%;
}
.form {
  margin: 0;
}
.form__impression {
  order: -1;
  flex-grow: 1;
}
.form__name {
  flex-grow: 1;
}
.name {
  text-transform: uppercase;
  width: 100%;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  border-top: 2px solid #e5e5e5;
  text-align: center;
  margin-bottom: 17px;
}
.name input {
  font-size: 15px;
}
.name__input {
  background-color: #f2f2f2;
  color: #000000;
  border: 4px solid #f2f2f2;
  padding: 15.5px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 2%;
  width: 190px;
  box-sizing: border-box;
  font-weight: bold;
}
.name__input--first {
  width: 230px;
}
.name__input:last-child {
  margin-bottom: 7px;
}
.name__input:hover {
  background-color: #e5e5e5;
  border: 4px solid #e5e5e5;
}
.name__input:active {
  background-color: #ffffff;
}
.contacts {
  text-transform: uppercase;
  width: 100%;
  line-height: 30px;
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  padding-top: 10px;
  border-top: 2px solid #e5e5e5;
  text-align: center;
}
.contacts input {
  font-size: 18px;
  font-family: "PT Sans Bold", "Arial", sans-serif;
}
.contacts__error {
  color: red;
  text-transform: none;
  position: absolute;
  bottom: 4px;
  left: 8%;
  display: none;
}
.contacts__input {
  background-color: #f2f2f2;
  color: #000000;
  border: 4px solid #f2f2f2;
  padding: 15.5px;
  margin-bottom: 35px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  font-weight: bold;
}
.contacts__input:last-child {
  margin-bottom: 30px;
}
.contacts__input:hover {
  background-color: #e5e5e5;
  border: 4px solid #e5e5e5;
}
.contacts__input:active {
  background-color: #ffffff;
}
.contacts__wrapper {
  position: relative;
  display: inline-block;
}
.contacts__wrapper::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 61px;
  height: 61px;
  background-color: #e6e6e6;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center;
}
.contacts__wrapper--tel input:invalid ~ .contacts__error {
  display: block;
}
.contacts__wrapper--tel::before {
  background-image: url(../img/icon-phone.svg);
}
.contacts__wrapper--email::before {
  background-image: url(../img/icon-mail.svg);
}
.contacts__label {
  font-weight: bold;
  margin-left: 6%;
  white-space: nowrap;
}
.contacts__items {
  width: 88%;
  max-width: 365px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
}
.contacts__placeholder--hidden {
  display: none;
}
.impression {
  width: 100%;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  border-top: 2px solid #e5e5e5;
  padding-bottom: 10px;
  text-align: center;
}
.impression #positive:checked ~ label[for="positive"]::before,
.impression #negative:checked ~ label[for="negative"]::before,
.impression #neutral:checked ~ label[for="neutral"]::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000000;
  top: 5px;
  left: -30%;
  z-index: 10;
}
.impression #positive:checked ~ label[for="positive"]:active::before,
.impression #negative:checked ~ label[for="negative"]:active::before,
.impression #neutral:checked ~ label[for="neutral"]:active::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.impression__label {
  position: relative;
  font-weight: bold;
  font-size: 18px;
}
.impression__label::after {
  position: absolute;
  content: "";
  width: 55px;
  height: 55px;
  border-radius: 50%;
  left: -40%;
  top: -10px;
  background-color: #f2f2f2;
}
.impression__label:hover::after {
  background-color: #e5e5e5;
}
.impression__label:active::after {
  background-color: #d5d5d5;
}
.impression__input {
  display: none;
}
.impression__item {
  text-align: left;
  margin-bottom: 36px;
  padding-left: 30%;
}
.impression__item:last-child {
  margin-top: 40px;
  margin-bottom: 30px;
}
.impression__title {
  margin-bottom: 40px;
}
.place {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 40px;
  border-top: 2px solid #e5e5e5;
  text-align: center;
}
.place input:checked ~ label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 16px;
  background: url("../img/icon-tick.svg");
  background-size: cover;
  z-index: 1;
  left: -60px;
  top: 6px;
}
.place input:checked ~ label:active::before {
  opacity: 0.3;
}
.place__label {
  position: relative;
  font-weight: bold;
  font-size: 18px;
}
.place__label::after {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  border-radius: 2px;
  left: -80px;
  top: -12px;
  background-color: #f2f2f2;
}
.place__label:hover::after {
  background: #e5e5e5;
}
.place__label:active::after {
  background: #d5d5d5;
}
.place__input {
  display: none;
}
.place__item {
  margin-bottom: 55px;
  padding-left: 30%;
  text-align: left;
}
.place__item:last-child {
  margin-bottom: 0;
}
.place__title {
  margin-bottom: 35px;
  line-height: 22px;
}
.emotions {
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  padding-top: 16px;
  border-top: 2px solid #e5e5e5;
  font-weight: bold;
  margin-bottom: 75px;
}
.emotions textarea {
  font-weight: bold;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
}
.emotions__textarea {
  min-height: 165px;
  color: #000000;
  background-color: #f2f2f2;
  border: 0;
  resize: none;
  margin-top: 16px;
  padding: 20px;
  width: 87%;
  box-sizing: border-box;
  margin-bottom: 25px;
}
.emotions__hidden {
  display: none;
}
.emotions__title {
  font-size: 18px;
}
.photo {
  text-align: center;
  padding-top: 20px;
  border-top: 2px solid #e5e5e5;
  width: 100%;
  margin-top: -5px;
}
.photo--two {
  margin-bottom: 10px;
  margin-top: 0;
}
.photo--three {
  margin-bottom: 5px;
}
.photo--four {
  padding-bottom: 5px;
  border-bottom: 2px solid #e5e5e5;
}
.photo__wrapper {
  margin-top: 30px;
}
.photo__info {
  text-align: left;
  width: 88%;
  max-width: 365px;
  margin: 0 auto;
  padding-top: 10px;
}
.photo__like {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-top: -5px;
}
.photo__like p {
  margin-left: 6%;
}
.photo__paragraph {
  margin-top: -5px;
  margin-bottom: 0;
}
.photo__svg {
  margin-top: 10px;
}
.video {
  text-align: center;
  width: 100%;
  padding-top: 20px;
}
.video__intro {
  text-transform: uppercase;
  width: 88%;
  max-width: 365px;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 20px;
}
.video__title {
  padding-bottom: 20px;
}
.controls {
  margin: 0 auto;
  max-width: 320px;
}
.controls__range {
  position: relative;
  padding: 20px 20px;
  background: #000000;
  opacity: 0.6;
  overflow: hidden;
  top: -53px;
}
.controls__scale {
  margin-top: 3px;
  height: 2px;
  background: #ffffff;
  opacity: 0.2;
}
.controls__toggle {
  position: absolute;
  top: 19px;
  left: 58px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 50%;
}
.controls__svg {
  position: relative;
  top: -53px;
  padding: 25px 20px 20px;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
}
.controls__repeat {
  margin-left: 5px;
  margin-right: 100px;
}
.controls__fullscrean {
  margin-right: 5px;
}
.page-footer {
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 35px;
}
.page-footer--gallery {
  margin-top: 0px;
}
.page-footer__title {
  font-size: 21px;
  margin-bottom: 40px;
}
.page-footer__social {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 150px;
  margin-top: 45px;
}
.page-footer__link {
  background-color: #81b3d2;
  font-size: 0;
  height: 46px;
  width: 46px;
  box-sizing: border-box;
}
.page-footer__link:hover {
  background-color: #669ec0;
}
.page-footer__link:active {
  background-color: #5496bd;
}
.page-footer__htmlacademy {
  font-size: 0;
}
.page-footer__svg {
  padding-top: 18px;
  margin: 0 auto;
  fill: #ffffff;
}
.page-footer__svg--fb {
  padding-top: 15px;
}
.page-footer__svg:active {
  fill-opacity: 0.3;
}
.page-footer__svg--htmlacademy {
  fill: #000000;
}
.page-footer__svg--htmlacademy:hover {
  fill: #5496bd;
}
.page-footer__svg--htmlacademy:active {
  fill: #000000;
  fill-opacity: 0.3;
}
.page-footer__dev {
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  width: 130px;
  justify-content: space-between;
}
.page-footer__text {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .button {
    margin-top: 27px;
  }
  .button--emotions {
    width: 50%;
  }
  .page-header__intro {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }
  .page-header__sedona {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }
  .page-header__img {
    position: absolute;
    top: -55px;
    margin: 0 auto;
  }
  .page-header__logo {
    position: relative;
    margin-top: 0px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
  }
  .page-header__logo--small {
    background-position: bottom;
  }
  .page-header__intro {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
  }
  .page-header__intro--forms {
    width: 58%;
    padding-top: 40px;
  }
  .page-header__intro--gallery {
    width: 58%;
    padding-top: 40px;
  }
  .page-header__sedona {
    padding-top: 80px;
    padding-bottom: 81px;
  }
  .page-header__sedona--small {
    padding-top: 95px;
    width: 93%;
    padding-bottom: 110px;
  }
  .page-header__svg {
    width: 63%;
    max-width: 500px;
    height: 100%;
  }
  .page-header__title {
    width: 70%;
    margin-bottom: 30px;
    font-size: 21px;
  }
  .page-header__title--forms,
  .page-header__title--gallery {
    font-size: 30px;
    width: 100%;
  }
  .page-header {
    margin-bottom: 55px;
  }
  .page-header__triangle {
    bottom: -7.5px;
  }
  .main-nav {
    width: 100%;
    margin: 0;
  }
  .main-nav__items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
  }
  .main-nav__item {
    width: 20%;
  }
  .main-nav__item:nth-child(2) {
    margin-right: 20%;
  }
  .main-nav__item a {
    color: #000000;
    background-color: #ffffff;
    border: 0;
    font-size: 14px;
  }
  .main-nav__item a:hover {
    color: #81b3d2;
    background-color: #ffffff;
  }
  .main-nav__item a:active {
    opacity: 0.3;
    color: #000000;
    background-color: #ffffff;
  }
  .main-nav__item--active a {
    color: #766357;
  }
  .main-nav__item--active a:hover {
    color: #604e43;
  }
  .main-nav__item--active a::active {
    opacity: 0.3;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav--closed {
    top: 0;
  }
  .page-main {
    margin-right: 0;
  }
  .conditions__group {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }
  .conditions {
    display: flex;
    flex-wrap: wrap;
  }
  .conditions__header {
    flex-grow: 1;
    flex-basis: 30%;
    padding-top: 0;
    display: flex;
  }
  .conditions__img img {
    display: block;
  }
  .conditions__group {
    display: flex;
  }
  .conditions__item {
    padding-top: 125px;
    padding-left: 0;
    justify-content: space-between;
    position: relative;
    text-align: center;
  }
  .conditions__item--gift {
    order: 1;
    width: 65%;
  }
  .conditions__item::before {
    position: absolute;
    content: "";
    width: 75px;
    height: 75px;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .conditions__item--gift::before {
    height: 75px;
    width: 63px;
  }
  .conditions__item--burger::before {
    width: 78px;
    height: 70px;
  }
  .conditions__item p {
    width: 69%;
    margin: 0 auto;
    text-align: center;
  }
  .conditions__intro {
    width: 65%;
    line-height: 22px;
    margin: auto;
  }
  .conditions__title {
    line-height: 24px;
    font-size: 21px;
  }
  .conditions__triangle {
    display: none;
  }
  .landmark__intro {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }
  .landmark__item {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }
  .landmark {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
  }
  .landmark__header {
    flex-grow: 1;
    flex-basis: 30%;
    order: 1;
    display: flex;
  }
  .landmark__img {
    padding: 0;
  }
  .landmark__img img {
    display: block;
  }
  .landmark__group {
    display: flex;
    order: 2;
  }
  .landmark__item {
    padding-top: 45px;
    justify-content: space-around;
    width: 21%;
    margin: 0 auto;
    padding-bottom: 35px;
    border: 0;
  }
  .landmark__item:first-child p {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    width: 100%;
    padding-left: 0;
  }
  .landmark__item:last-child p {
    width: 91%;
  }
  .landmark__intro {
    width: 70%;
    margin: auto;
  }
  .landmark__title {
    line-height: 24px;
    font-size: 22px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .hotel__intro {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }
  .hotel__title {
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 30px;
  }
  .hotel__intro {
    padding-bottom: 55px;
    width: 60%;
  }
  .map__marker {
    top: 46%;
    left: 48%;
  }
  .form {
    width: 88%;
    max-width: 365px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .name {
    width: 50%;
    text-align: center;
    border: 0;
    box-sizing: border-box;
    position: relative;
  }
  .name::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 300px;
    top: 25px;
    background-color: #e5e5e5;
    left: 5px;
  }
  .name__title {
    text-align: center;
    font-size: 22px;
    margin-left: -21%;
    margin-bottom: 50px;
  }
  .name__hidden {
    display: none;
  }
  .name__item {
    margin-right: 11%;
    text-align: right;
  }
  .name__input {
    padding: 18px;
    width: 54%;
  }
  .name__input--first {
    width: 65%;
  }
  .contacts__items {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    border-bottom: 0;
    margin-top: 20px;
    text-align: left;
    position: relative;
    border: 0;
    margin-bottom: 20px;
  }
  .contacts::before,
  .contacts::after {
    content: "";
    position: absolute;
    width: 17%;
    height: 2px;
    top: 36px;
    background-color: #e5e5e5;
  }
  .contacts::before {
    left: 6%;
  }
  .contacts::after {
    right: 6%;
  }
  .contacts__title {
    text-align: center;
    font-size: 22px;
  }
  .contacts__wrapper {
    margin-left: 3%;
    width: 94%;
  }
  .contacts__wrapper::before {
    right: 0;
  }
  .contacts__items {
    margin-top: 10px;
    text-align: left;
  }
  .contacts__email {
    margin-top: -15px;
  }
  .contacts__error {
    top: -30px;
    left: 71%;
    width: 40%;
  }
  .impression {
    width: 48%;
    border: 0;
    margin-top: 19px;
    box-sizing: border-box;
  }
  .impression__title {
    font-size: 21px;
    margin-bottom: 75px;
    margin-top: 0;
  }
  .impression__item {
    margin-bottom: 45px;
    margin-left: 10px;
  }
  .impression__item:last-child {
    margin-bottom: 0;
  }
  .place {
    text-align: center;
    border: 0;
    position: relative;
  }
  .place::before,
  .place::after {
    content: "";
    position: absolute;
    width: 17%;
    height: 2px;
    top: 27px;
    background-color: #e5e5e5;
  }
  .place::before {
    left: 6%;
  }
  .place::after {
    right: 6%;
  }
  .place__radio {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .place__item {
    margin-top: 60px;
    width: 20%;
    flex-grow: 1;
    margin-bottom: 5px;
    text-align: left;
  }
  .place__item--park {
    order: 1;
  }
  .place__item--rock {
    order: 2;
    padding-left: 0;
    padding-bottom: 0;
  }
  .place__item--mountain {
    padding-left: 0;
  }
  .place__title {
    margin: 0 auto;
    font-size: 22px;
    width: 50%;
  }
  .emotions {
    margin: 0 auto;
    margin-top: 25px;
    border: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 66px;
    width: 100%;
  }
  .emotions::before,
  .emotions::after {
    content: "";
    position: absolute;
    width: 18%;
    height: 2px;
    top: 25px;
    background-color: #e5e5e5;
  }
  .emotions::before {
    left: 5%;
  }
  .emotions::after {
    right: 5%;
  }
  .emotions__wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  .emotions__textarea {
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 25px;
    width: 89%;
  }
  .emotions__hidden {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 50px;
  }
  .photo__info {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }
  .photo {
    border: 0;
    padding-top: 15px;
    width: 85%;
    margin: 0;
  }
  .photo--two,
  .photo--three,
  .photo--four {
    width: 42.5%;
    padding: 0;
  }
  .photo img {
    display: block;
    margin: 0 auto;
    border: 0;
    width: 100%;
  }
  .photo--two img,
  .photo--three img,
  .photo--four img {
    padding: 0;
    margin: 0;
  }
  .photo--four {
    margin-right: auto;
    padding-left: 7.5%;
  }
  .photo__wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .photo__info {
    text-align: left;
    padding-top: 13px;
    padding-bottom: 20px;
    padding-left: 3%;
    padding-right: 2%;
    background-color: #f2f2f2;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .photo__info--two,
  .photo__info--three,
  .photo__info--four {
    padding-left: 7%;
  }
  .photo__info--four {
    padding-right: 1%;
    padding-bottom: 15px;
  }
  .photo__svg {
    padding-right: 7px;
  }
  .photo__like {
    position: relative;
    top: 10px;
    right: 10px;
  }
  .photo__like--two {
    padding-right: 15px;
  }
  .photo__like--three {
    padding-right: 25px;
  }
  .photo__like--four {
    padding-right: 16px;
  }
  .photo__like p {
    position: relative;
    top: -5px;
    font-weight: bold;
  }
  .photo__paragraph {
    margin-top: 0;
  }
  .video__intro {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }
  .video {
    padding-top: 45px;
    margin-bottom: 65px;
  }
  .video__title {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .video__intro {
    width: 55%;
    padding-bottom: 75px;
  }
  .controls {
    position: relative;
    width: 100%;
    max-width: 768px;
  }
  .controls__range {
    position: absolute;
    width: 25%;
    top: -75px;
    z-index: 1;
    width: 50%;
    left: 130px;
    background: none;
  }
  .controls__toggle {
    left: 135px;
  }
  .controls__svg {
    position: absolute;
    width: 79%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -100px;
    padding-bottom: 36px;
    background: rgba(0, 0, 0, 0.6);
  }
  .controls__repeat {
    fill: #ffffff;
    padding-left: 10px;
    padding-top: 10px;
  }
  .controls__subtitle {
    fill: #ffffff;
    padding-left: 340px;
    padding-top: 12px;
  }
  .controls__fullscrean {
    fill: #ffffff;
    padding-right: 15px;
    padding-top: 11px;
  }
  .page-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    width: 85%;
  }
  .page-footer__social {
    margin-top: 5px;
    margin-right: 0;
  }
  .page-footer__link {
    margin-right: 5px;
  }
  .page-footer__dev {
    margin-top: -5px;
    margin-right: 0;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 144dpi) and (min-resolution: 2dppx) {
  .page-header__logo {
    background: url("../img/bg-back-tablet@2x.jpg") no-repeat;
    background-size: 1536px auto;
    background-position: 50% 30%;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .form {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 40px 0 #dbdbdb;
  }
  .button {
    margin-top: 28px;
  }
  .button--hotel {
    margin-top: 35px;
  }
  .page-header__intro {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .page-header__sedona {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .page-header {
    width: 88%;
    max-width: 365px;
    margin: 0 auto;
    box-shadow: inset 0 10px 0 #b5b5b5;
  }
  .page-header__logo {
    margin-top: 0px;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat;
    background-position: center;
    background-size: auto;
    width: 100%;
  }
  .page-header__logo--small {
    background-position: bottom;
  }
  .page-header__intro {
    width: 55%;
    margin: 0 auto;
    padding-top: 55px;
  }
  .page-header__intro--forms {
    width: 37%;
    padding-top: 75px;
  }
  .page-header__intro--gallery {
    padding-top: 75px;
    width: 40%;
  }
  .page-header__sedona {
    padding-top: 80px;
    width: 38%;
  }
  .page-header__sedona--small {
    padding-top: 100px;
    padding-bottom: 115px;
  }
  .page-header__img {
    width: 100%;
    max-width: 190px;
  }
  .page-header__img img {
    width: 186px;
    height: auto;
  }
  .page-header__title {
    margin-bottom: 35px;
  }
  .page-header__title--forms {
    margin-bottom: 30px;
  }
  .page-header__title--gallery {
    margin-bottom: 30px;
  }
  .page-header__paragraph {
    width: 90%;
    margin: 0 auto;
  }
  .page-header__triangle {
    bottom: -8px;
  }
  .page-header__svg {
    width: 100%;
    max-width: 1200px;
    height: 100%;
  }
  .page-main {
    width: 88%;
    max-width: 365px;
    margin: 0 auto;
  }
  .conditions__group {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .conditions {
    display: flex;
    flex-wrap: wrap;
    padding-top: 45px;
  }
  .conditions__img img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 800px;
    height: 255px;
  }
  .conditions__intro {
    width: 70%;
  }
  .conditions__title {
    width: 70%;
    margin: 0 auto;
  }
  .conditions__item {
    padding-top: 140px;
    width: 33%;
    position: relative;
    text-align: center;
  }
  .conditions__item--gift {
    width: 30%;
  }
  .conditions__item p {
    padding-top: 20px;
    width: 75%;
  }
  .landmark__intro {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .landmark__item {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .landmark {
    margin-top: 25px;
  }
  .landmark__img img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 800px;
    height: 255px;
  }
  .landmark__intro {
    padding-top: 5px;
    width: 60%;
  }
  .landmark__intro p {
    width: 95%;
  }
  .landmark__title {
    width: 75%;
    margin: 0 auto;
  }
  .landmark__group {
    width: 100%;
    padding-bottom: 25px;
  }
  .landmark__item {
    margin: 0 auto;
    width: 18%;
  }
  .landmark__item:first-child p {
    width: 100%;
  }
  .hotel__intro {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .hotel__intro {
    margin-bottom: 10px;
    width: 38%;
  }
  .map__marker {
    top: 45%;
    left: 49%;
  }
  .name__hidden {
    display: inline;
  }
  .name {
    margin-top: 40px;
    width: 50%;
    margin-bottom: 30px;
  }
  .name__input {
    margin-right: 10%;
    width: 57%;
    margin-left: 15px;
  }
  .name__input--first {
    width: 64%;
  }
  .contacts__items {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .contacts__items {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 58px;
    width: 100%;
    max-width: 1200px;
  }
  .contacts__tel {
    width: 100%;
    flex-grow: 1;
    margin-left: 7%;
    display: flex;
  }
  .contacts__email {
    width: 100%;
    flex-grow: 1;
    margin-left: -15%;
    margin-top: 2px;
  }
  .contacts__wrapper {
    width: 49%;
  }
  .contacts__input {
    margin-left: 0;
  }
  .contacts {
    margin-bottom: 15px;
    margin-top: 7px;
  }
  .contacts::before,
  .contacts::after {
    width: 23%;
  }
  .contacts::before {
    left: 10%;
  }
  .contacts::after {
    right: 10%;
  }
  .contacts__hidden {
    display: none;
  }
  .contacts__placeholder {
    display: none;
  }
  .contacts__placeholder--hidden {
    display: block;
  }
  .contacts__error {
    top: -30px;
    left: 2px;
    width: 200px;
    max-height: 5px;
  }
  .contacts__label {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    height: 55px;
  }
  .impression {
    margin: 0 auto;
    margin-top: 60px;
  }
  .impression__title {
    width: 81%;
    text-align: right;
    font-size: 22px;
    margin-bottom: 75px;
  }
  .impression__item {
    text-align: left;
    margin-left: 20px;
  }
  .place {
    width: 90%;
    margin: 0 auto;
  }
  .place::before,
  .place::after {
    width: 26%;
  }
  .place__radio {
    flex-wrap: nowrap;
  }
  .place__title {
    width: 30%;
  }
  .place__item {
    margin-top: 60px;
    padding: 0;
    text-align: center;
  }
  .place__item--bridge {
    margin-left: 7%;
  }
  .emotions__textarea {
    width: 80%;
    margin: 0 auto;
    margin-top: 55px;
  }
  .emotions {
    margin-top: 25px;
    margin-bottom: 76px;
  }
  .emotions::before,
  .emotions::after {
    width: 23%;
  }
  .emotions::before {
    left: 10%;
  }
  .emotions::after {
    right: 10%;
  }
  .emotions__wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 22px;
  }
  .photo__info {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .photo {
    margin-top: 55px;
    border: 0;
    position: relative;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .photo--two,
  .photo--three,
  .photo--four {
    margin-top: 0;
    padding: 0;
    max-width: 33.3%;
    flex-grow: 1;
    display: block;
  }
  .photo--three {
    max-width: 33.4%;
  }
  .photo__wrapper {
    width: 100%;
    margin-bottom: 10px;
  }
  .photo__info {
    position: absolute;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 2%;
    background-color: rgba(242, 242, 242, 0.2);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    bottom: 0px;
    color: #ffffff;
  }
  .photo__info--two,
  .photo__info--three,
  .photo__info--four {
    width: 100%;
    padding-left: 7%;
  }
  .photo__like p {
    margin-right: -10px;
  }
  .photo__svg {
    fill: #ffffff;
  }
  .video__intro {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .video {
    margin-bottom: 85px;
  }
  .video__intro {
    width: 35%;
    padding-bottom: 70px;
  }
  .controls {
    width: 80%;
    max-width: 1200px;
  }
  .controls__range {
    left: 150px;
  }
  .controls__subtitle {
    padding-left: 490px;
  }
  .page-footer {
    width: 80%;
    padding-left: 20px;
  }
  .page-footer__social {
    margin-right: 90px;
  }
  .page-footer__dev {
    margin-right: -65px;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .page-header {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }
  .page-main {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .page-header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .page-main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 144dpi) and (min-resolution: 2dppx) {
  .page-header__logo {
    background: url("../img/bg-back-desktop@2x.jpg") no-repeat;
    background-size: 2400px auto;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .form {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 144dpi) and (min-resolution: 2dppx) {
  .page-header__logo {
    background: url("../img/bg-back-mobile@2x.jpg") no-repeat;
    background-size: 1536px auto;
    background-position: 50% 30%;
  }
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
}
